<html>
    <head>
        <title>Genres</title>
        <!-- <link rel="stylesheet" href="/styles.css"> -->
    </head>
    <body>
        <h2>Genres</h2>
        <% if (locals.errors) {%>
                <ul>
                    <% errors.forEach(function(error) { %>
                        <li><%= error.msg %></li>
                    <% }); %>
                </ul>
        <% } %>
        <form method="POST" action="/genres">
            <label for="newGenre">Add genre:</label>
            <input id="newGenre" type="text" name="newGenre" required>
            <br>
            <input type="submit" value="Submit">
        </form>
        <ul>
            <% genres.forEach((genre) => { %>
                <li>
                    <%= genre.genre_name %>
                </li>
            <% }); %>
        </ul>
    </body>
</html>