<html>
    <head>
        <title>Publishers</title>
        <!-- <link rel="stylesheet" href="/styles.css"> -->
    </head>
    <body>
        <h2>Publishers</h2>
        <ul>
            <% publishers.forEach((publisher) => { %>
                <li>
                    <%= publisher.publisher_name %>
                </li>
            <% }); %>
        </ul>
    </body>
</html>